absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
astunparse
attrs
audioread
backoff
bcrypt
beautifulsoup4
bitsandbytes
blinker
blobfile
boto3
botocore
bs4
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
contourpy
cryptography
cycler
dataclasses-json
datasets
decorator
Deprecated
dill
distro
Django
dlib
durationpy
emoji
et-xmlfile
eval_type_backport
face-recognition
face_recognition_models
faiss-cpu
fastapi
ffmpeg-python
ffmpy
filelock
filetype
fire
Flask
flatbuffers
fonttools
frozenlist
fsspec
future
gast
google-api-core
google-auth
google-cloud-speech
google-pasta
googleapis-common-protos
googletrans
gpt4all
gradio
gradio_client
grpcio
grpcio-status
gTTS
h11
h2
h5py
hpack
hstspreload
html5lib
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
image
imageio
imageio-ffmpeg
importlib_metadata
importlib_resources
imutils
instaloader
itsdangerous
Jinja2
jiter
jmespath
joblib
jsonlines
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
keras
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-nomic
langchain-ollama
langchain-openai
langchain-text-splitters
langdetect
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
lazy_loader
libclang
librosa
llama_models
llama_stack
llama_stack_client
llvmlite
loguru
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
ml-dtypes
mmh3
monotonic
more-itertools
moviepy
mpmath
msgpack
multidict
multiprocess
mypy-extensions
namex
ndjson
nest-asyncio
networkx
nltk
nomic
numba
numpy
oauthlib
olefile
ollama
onnxruntime
openai
openai-whisper
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optree
orjson
overrides
packaging
pandas
pdfminer.six
pdfplumber
pillow
pillow-avif-plugin
platformdirs
pooch
posthog
proglog
prompt_toolkit
propcache
proto-plus
protobuf
psutil
py-cpuinfo
pyaml
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodomex
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
PyJWT
PyMatting
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
pytz
PyYAML
RapidFuzz
referencing
regex
rembg
reportlab
requests
requests-oauthlib
requests-toolbelt
rfc3986
rich
rpds-py
rsa
ruff
s3transfer
sacremoses
safehttpx
safetensors
scikit-image
scikit-learn
scipy
seaborn
semantic-version
sentence-transformers
sentencepiece
setuptools
shellingham
six
sniffio
soundfile
soupsieve
soxr
SQLAlchemy
sqlparse
starlette
sympy
tavily-python
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
thop
threadpoolctl
tifffile
tiktoken
tokenizers
tomlkit
torch
torchvision
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
ultralytics @ git+https://github.com/THU-MIG/yolov10.git@6fbaf42b23f6709f4e34a51430587673e70e151d
ultralytics-thop
unstructured
unstructured-client
urllib3
uvicorn
uvloop
watchfiles
wcwidth
webencodings
websocket-client
websockets
Werkzeug
wheel
wrapt
xxhash
yarl
zipp
zstandard
