# Web Frameworks & API
fastapi==0.115.7
uvicorn==0.34.0
Flask==3.0.3
Django==5.0.4

# Database & Storage
SQLAlchemy==2.0.37
pydantic==2.9.2
pydantic-settings==2.7.1
jsonlines==4.0.0
jsonschema==4.23.0
openpyxl==3.1.2
pandas==2.2.2
ndjson==0.3.1

# Networking & Requests
requests==2.32.3
httpx==0.28.1
aiohttp==3.11.11
websockets==14.2

# AI & NLP
transformers==4.48.1
sentence-transformers==3.3.1
openai==1.60.0
tiktoken==0.8.0
nltk==3.9.1
scikit-learn==1.6.1

# ML/DL & Vision
torch==2.5.1
torchvision==0.20.1
opencv-python-headless==4.10.0.84
ultralytics @ git+https://github.com/THU-MIG/yolov10.git@6fbaf42b23f6709f4e34a51430587673e70e151d

# Utilities
bcrypt==4.2.1
PyJWT==2.10.1
python-dotenv==1.0.1
loguru==0.7.3
filelock==3.16.0
tqdm==4.66.4
protobuf==5.27.2
